<!DOCTYPE html>
<html>
<head>
    <title>Arcobaleno</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>
<header class = "btn-group" role = "group">
    <ul class = "reglog">
        <%if (!user){ %>
        <li><a href = "/register"><button type = "button" class = "btn btn-default">Регистрация</button></a></li>
        <li><a href = "/login"><button type = "button" class = "btn btn-default">Вход</button></a></li>
        <%}%>
        <% if (user){ %>
        <li><a href = "/profile"><button type = "button" class = "btn btn-default">Профиль</button></a></li>
        <li><a href = "/logout"><button type = "button" class = "btn btn-default">Выход</button></a></li>
        <%}%>
    </ul>
    <form role="form" method="post" id="search-form">
        <li class="form-group">
            <input type="number" class="form-control"  name="search" placeholder="Цена блюда">
        </li>
        <li class="form-group">
            <div id="search-button" type="submit" class="btn btn-primary">Найти по цене</div>
        </li>
    </form>
</header>
<ul class = "nav navbar-nav">
    <li><a href = "/">Главная</a></li>
    <li><a href = "/menu">Меню</a></li>
    <%if  (user && !user.admin){%>
    <li><a href = "/cart">Заказ</a></li>
    <%}%>
    <li><a href = "/contacts">Контакты</a></li>
</ul>

<%if (user && user.admin){%>
<div id="dishes">
    <h4>Новое блюдо:</h4><br>
<form action = "/addDish" id="newDish" class = "btn btn-default" method = "post" enctype="multipart/form-data">
    <select size = "5" name = "type">
        <option disabled>Выберите тип блюда</option>
        <option value = "salad">Салат</option>
        <option value = "hot">Горячее блюдо</option>
        <option value = "garnish">Гарнир</option>
        <option value = "dessert">Десерт</option>
        <option value = "drink">Напиток</option>
    </select><br>
    Название: <input type = "text" name = "name"/><br>
    Вес: <input type = "text" name = "weight"/><br>
    Цена: <input type = "text" name = "price"/><br>
    Картинка: <input type = 'file' name = 'picture'/><br>
    <input type = "submit" class="btn btn-primary" value = 'Добавить блюдо'/>
</form><br></div>
<%}%>


<ol id="dishes">
<%for (var i = 0; i < dishes.length; i++){%>
    <li id="item" class="col-sm-6" >
        <h4><%=dishes[i].name%>........<%=dishes[i].price%> грн......<%=dishes[i].weight%>г</h4>><br>
        <img alt="" src='data:image/jpg;base64,<%= dishes[i].picture %>'>
        <%if (user && user.admin){%>
        <br>
        <form action = "/deleteDish/<%=dishes[i]._id%>" method="get">
            <input type = "submit" class = "btn btn-default" value = "Удалить блюдо"/>
        </form>
        <%} if (user && !user.admin) {%>
        <br>
        <form action = "/toCart/<%=dishes[i]._id%>" method="get">
            <input type = "submit" class = "alert alert-danger" value = "Добавить в корзину"/>
        </form>
        <%}%>
        <br>
    </li>

<%}%>
</ol>
<br>





<script>
    $( "#search-button" ).click(function() {
        var params = $('#search-form').serialize();
        var xhr;
        if(params != 'search='){
            xhr = new XMLHttpRequest();
            xhr.open("GET", '/sortedDishes?' + params, true);
        }
        else{
            xhr = new XMLHttpRequest();
            xhr.open("GET", '/allDishes', true);
        }
        xhr.send();
        xhr.onreadystatechange = function() {
            if (xhr.status != 200) {
                console.log("ERROR: " + xhr.status + ': ' + xhr.statusText);
            } else if(xhr.responseText.length > 0 && xhr.readyState === XMLHttpRequest.DONE) {
                console.log("SUCCESS");
                var data = xhr.responseText;
                var dishes = JSON.parse(data);
                <%for (var i = 0; i < dishes.length; i++){%>
                    $('#item').remove();
                <%}%>
                for (var i = 0; i < dishes.length; i++){
                    $('#dishes').append('<li id="item" class="col-sm-6"><h4>' +
                            dishes[i].name + '........' + dishes[i].price + ' грн......' + dishes[i].weight + 'г</h4><br>' +
                    '<img alt="" src=data:image/jpg;base64,' + dishes[i].picture + '>' +
                            '<%if (user && user.admin){%>' +
                        '<br>' +
                        '<form action = "/deleteDish/' + dishes[i]._id + '" method="get">' +
                        '<input type = "submit" value = "Удалить блюдо"/>' +
                        '</form>' +
                            '<%} if (user && !user.admin) {%>' +
                        '<form action = "/toCart/' + dishes[i]._id + '" method="get">' +
                        '<br>' +
                        '<input type = "submit" class = "alert alert-danger" value = "Добавить в корзину"/>' +
                        '</form>' +
                            '<%}%>' +
                        '<br>' +
                        '</li>');
                }
            }
        }
    });
</script>


</body>
</html>
